---
import Content from "../../layouts/Content.astro";
import { getAllProjects, getProjectSlides } from "../../utils/projects";
import ProjectThumbnail from "../ProjectThumbnail.astro";
---

<Content id="projects" title="Projetos">
  <div class="flex flex-wrap justify-center gap-x-4 gap-y-16 pb-32">
    {
      getAllProjects().map(({ id, title, description, tech }) => (
        <ProjectThumbnail
          id={id}
          title={title}
          description={description}
          tech={tech}
          preview={getProjectSlides(id)[0]}
        />
      ))
    }
  </div>
</Content>
