---
import { Image } from "astro:assets";
import TechShowcase from "./shared/TechShowcase";
import type { Tech } from "../types";
import type { ImageMetadata } from "astro";

interface Props {
  id: string;
  title: string;
  tech: Tech[];
  preview: ImageMetadata;
}

const { id, title, tech, preview } = Astro.props;
---

<button
  type="button"
  class="project-preview group/project-preview flex w-min cursor-pointer flex-col items-center pb-4 focus:outline-none"
  data-id={id}
  aria-label="Mostrar detalhes do projeto"
>
  <div
    class="overflow-hidden rounded-2xl bg-charcoal outline outline-4 outline-transparent group-focus/project-preview:outline-orchid group-active/project-preview:outline-orchid"
  >
    <Image
      class="h-auto min-w-[320px] transition-transform duration-300 ease-out group-hover/project-preview:scale-110 md:min-w-[380px]"
      src={preview}
      alt={`${title} preview.`}
    />
  </div>
  <h3
    class="display-s mx-4 mt-2 text-center group-hover/project-preview:text-green group-focus/project-preview:text-orchid group-active/project-preview:text-orchid"
  >
    {title}
  </h3>
  <TechShowcase class="mx-4 mt-4 saturate-0" tech={tech} />
</button>

<script>
  import { $currentProject } from "../store";
  import { getProject } from "../utils/projects";

  const projects = document.querySelectorAll<HTMLElement>(".project-preview")!;
  projects.forEach((project) => {
    project.addEventListener("keydown", (e) => {
      switch (e.key) {
        case "Enter":
          project.click();
          break;
        default:
          break;
      }
    });
    project.addEventListener("click", () => {
      const { id } = project.dataset;
      if (id) {
        $currentProject.set(getProject(id));
      }
    });
  });
</script>
