---
import { Image } from "astro:assets";
import type { Tech } from "../types";
import type { ImageMetadata } from "astro";
import TechBadge from "./TechBadge.astro";
import { simpleCX } from "../utils/cx";

interface Props {
  class?: string;
  id: string;
  title: string;
  description: string;
  tech: Tech[];
  preview: ImageMetadata;
}

const { class: className, id, title, description, tech, preview } = Astro.props;
---

<button
  type="button"
  class={simpleCX(
    "group/project-preview grid cursor-pointer items-center gap-2 focus:outline-none md:max-w-[640px] md:grid-cols-[320px_1fr] md:grid-rows-[240px] md:gap-4",
    className,
  )}
  data-project-thumbnail
  data-id={id}
  aria-label="Mostrar detalhes do projeto"
>
  <div
    class="overflow-hidden rounded-2xl bg-charcoal outline outline-4 outline-transparent group-focus/project-preview:outline-orchid group-active/project-preview:outline-orchid"
  >
    <Image
      class="transition-transform duration-300 ease-out group-hover/project-preview:scale-110"
      src={preview}
      alt={`${title} preview.`}
    />
  </div>
  <div class="flex h-full flex-col gap-4 max-md:px-4 md:pb-4">
    <h3
      class="heading-md text-center group-hover/project-preview:text-green group-focus/project-preview:text-orchid group-active/project-preview:text-orchid"
    >
      {title}
    </h3>
    <p class="line-clamp-3 max-h-[4.5rem] text-gray max-md:hidden">
      {description.substring(0, description.indexOf(".") + 1)}
    </p>
    <div class="mt-auto flex flex-wrap justify-center gap-2">
      {tech.map((tec) => <TechBadge tech={tec} />)}
    </div>
  </div>
</button>

<script>
  import { $currentProject } from "../store";
  import { getProject } from "../utils/projects";

  const projects = document.querySelectorAll<HTMLElement>(
    "[data-project-thumbnail]",
  )!;
  projects.forEach((project) => {
    project.addEventListener("keydown", (e) => {
      switch (e.key) {
        case "Enter":
          project.click();
          break;
        default:
          break;
      }
    });
    project.addEventListener("click", () => {
      const { id } = project.dataset;
      if (id) {
        $currentProject.set(getProject(id));
      }
    });
  });
</script>
