---
import "@fontsource/inter";
import "@fontsource/inter/700.css";
import interWoff2 from "@fontsource/inter/files/inter-greek-400-normal.woff2?url";
import "@fontsource/patua-one";
import "@fontsource/paytone-one";
import Icons from "../components/Icons.astro";
import ProjectDetails from "../components/interactive/ProjectDetails";

const title = "Azganoth - Desenvolvedor Web FullStack";
const description =
  "Portfólio para apresentar as minhas habilidades e projetos.";
const url = "https://azganoth.github.io/";
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interWoff2}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/meta_image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/meta_image.png" />
  </head>
  <body class="body bg-slate leading-normal text-white">
    <slot />
    <ProjectDetails client:idle />
    <Icons />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/CascadiaCode.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .display {
      @apply font-display text-2xl font-normal tracking-wide;
    }

    .display-s {
      @apply font-display text-xl font-normal tracking-wide;
    }

    .body {
      @apply font-regular text-m font-medium;
    }

    .code-indent {
      @apply relative pl-8 before:absolute before:inset-y-0 before:left-[calc(1rem-1px)] before:w-0.5 before:bg-gray before:opacity-25 before:content-[''];
    }

    .push-down {
      @apply transition-transform duration-300 ease-out motion-safe:active:scale-90;
    }
  }

  :root {
    --underscore: "_";
  }
</style>
