---
import "@assets/css/app.css";
import Icons from "@components/Icons.astro";
import ProjectDetails from "@components/interactive/ProjectDetails.svelte";
import interVarWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";

const title = "Azganoth - Desenvolvedor Web FullStack";
const description =
  "Portfólio para apresentar as minhas habilidades e projetos.";
const url = "https://azganoth.github.io/";
const metaImage = "/meta_image.png";
---

<!doctype html>
<html
  lang="en"
  class="scheme-only-dark [scrollbar-gutter:stable] has-[dialog[open]]:overflow-hidden motion-safe:scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interVarWoff2}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={metaImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={metaImage} />
  </head>
  <body class="bg-obsidian typo-body text-offwhite leading-normal">
    <slot />
    <ProjectDetails client:idle />
    <Icons />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Patua One";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/patua-one/files/patua-one-latin-400-normal.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
      U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(@fontsource/montserrat-alternates/files/montserrat-alternates-latin-700-normal.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
      U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2)
      format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
      U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(../assets/fonts/CascadiaCode.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
      U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
</style>
